<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
	<meta name="author" content="Matteo Petrani" />
	<meta name="copyright" content="Matteo Petrani" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Matteo Petrani, UX Engineer at Ander Group</title>
	<meta name="description" content="Designer at Ander Group, Former UX Designer at Sketchin, glider pilot, mindful, detail oriented and tech savvy.">
	<meta name="keywords" content="Matteo Petrani, Matteo, Petrani, Ander Group, Sketchin, UX Engineer, UX designer, UI designer">
	<meta name="robots" content="index, follow">
	<meta http-equiv="content-language" content="en">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>

	<!-- Bootstrap -->
	<link href="css/main.css" rel="stylesheet">

</head>
