---
layout: default
---

<div class="home">

    <section class="bio">
        {{ content }}
    </section>

    <section class="posts">
        <h2>{{ site.data.snippets.home-recent[page.lang].title }}</h2>
        <ul class="post-list">
            {% assign posts_for_lang = site.posts | where: "lang", page.lang %}
            {% for post in posts_for_lang limit:5 %}
            <li>
                <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ site.data.snippets.menu-writings[page.lang].link }}">{{ site.data.snippets.home-other-posts[page.lang].title }}</a>
    </section>

</div>
