---
layout: default
---
<article class="post">

    <header class="post-header">
        <nav class="breadcrumbs">
            <a href="/">Home</a> / <a href="{{ '/writings/' | relative_url }}">Writings</a> / {{ page.title | escape }}
        </nav>
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <p class="post-meta post-meta--title">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
        </p>
        {% if page.excerpt != blank %}
        <p class="post-excerpt">{{ page.excerpt | markdownify | strip_html }}</p>
        {% endif %}
    </header>

    <div class="post-content">
        {{ content }}
    </div>

</article>
